<mat-toolbar color="primary" class="app-bar mat-elevation-z2">
    <button *ngIf="isCollapsed" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" [style.marginLeft.px]="isCollapsed ? 24 : 0">Form Validation</div>
</mat-toolbar>

<section class="mat-typography" [class.small]="isCollapsed">
    <div class="example-container">
        <h2>Basic Form Fields</h2>
        <p class="form-description" >
            The following examples show how to perform validation on various input types. The error icon on invalid
            inputs is optional, but adds redundancy for color blind users.
        </p>
        <form [formGroup]="basicForm">
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input
                    matInput
                    placeholder="Input"
                    formControlName="inputControl"
                    required
                    type="text"
                />
                <!-- error state goes here -->
                <mat-icon
                    *ngIf="basicForm?.controls?.inputControl.touched"
                    matSuffix
                    [ngClass]="basicForm?.controls?.inputControl.errors ? 'failure-red' : 'success'"
                    >
                    {{ basicForm?.controls?.inputControl.errors ? 'clear' : 'done' }}
                </mat-icon>
                <mat-error *ngIf="basicForm.get('inputControl').hasError('required')"
                    >required</mat-error>
                <mat-hint>This is a regular input field.</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input 
                    matInput placeholder="Enter your email" 
                    formControlName="email" 
                    required />
                <!-- error state goes here -->
                <mat-icon
                    *ngIf="basicForm?.controls?.email.touched"
                    matSuffix
                    [ngClass]="basicForm?.controls?.email.errors ? 'failure-red' : 'success'">
                    {{ basicForm?.controls?.email.errors ? 'clear' : 'done' }}
                </mat-icon>
                <mat-error *ngIf="basicForm.get('email').hasError('pattern')">Invalid email address</mat-error>
                <mat-error *ngIf="basicForm.get('email').hasError('required')">required</mat-error>
                <mat-hint>This field throws an error if the email format is incorrect.</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <input
                    matInput
                    placeholder="Phone Number"
                    maxlength="22"
                    formControlName="phoneNumControl"
                    (keypress)="numberOnly($event)"
                    required
                />
                <!-- error state goes here -->
                <mat-icon
                    *ngIf="basicForm?.controls?.phoneNumControl.touched"
                    matSuffix
                    [ngClass]="basicForm?.controls?.phoneNumControl.errors ? 'failure-red' : 'success'"
                >
                    {{ basicForm?.controls?.phoneNumber.errors ? 'clear' : 'done' }}</mat-icon>
                <mat-error *ngIf="basicForm.get('phoneNumControl').hasError('pattern')">Invalid phone number</mat-error>
                <mat-error *ngIf="basicForm.get('phoneNumControl').hasError('required')">required</mat-error>
                <mat-hint>
                    This field throws an error if the phone number format is incorrect. (Needs to be a valid U.S.
                    number)
                </mat-hint>
            </mat-form-field>
        </form>
    </div>

    <div class="example-container">
        <h2>Character Limits</h2>
        <p class="form-description">
            The following example shows how to restrict the length of an input field. In these cases, you should provide
            the user an indication of how many characters are available.
        </p>
        <mat-form-field hintLabel="Max 30 characters" apperance="fill">
            <mat-label>Enter Some Text</mat-label>
            <input matInput $input maxlength="30" placeholder="Enter some text" />
            <!-- error state goes here -->
            <mat-hint align="end">{{ input.value?.length || 0 }}/30</mat-hint>
        </mat-form-field>
    </div>
    <div class="example-container">
        <h2>Password Validation</h2>
        <p class="form-description">
            The following example shows how to enforce password strength restrictions and confirmation field matching.
            The password strength requirements for your application may differ from this example.
        </p>
        <form > <!-- [formGroup] perhaps -->
            <mat-form-field appearance="fill">
                <mat-label>Old Password</mat-label>
                <input
                    matInput
                    placeholder="Old Password"
                />
                <!-- Toggle visibility or don't Toggle ? -->
                <button mat-icon-button >
                    <mat-icon>visibility_off</mat-icon>
                </button>
            </mat-form-field>
            <div > <!-- [formGroup] perhaps -->
                <mat-form-field style="margin-bottom: 24px">
                    <mat-label>New Password</mat-label>
                    <input
                        matInput
                        placeholder="New Password"
                    />
                    <!-- Toggle visibility or don't Toggle ? -->
                    <button mat-icon-button matSuffix >
                        <mat-icon>visibility_off</mat-icon>
                    </button>
                </mat-form-field>
                <mat-list class="validation-list">
                    <!-- list of required Password parameters with responsive icons -->
                </mat-list>
                <mat-form-field >
                    <mat-label>Confirm Password</mat-label>
                    <input
                        matInput
                        placeholder="Confirm Password"
                    />
                    <!-- Toggle visibility or don't Toggle ? -->
                    <button mat-icon-button matSuffix >
                        <mat-icon>visibility_off</mat-icon>
                    </button>
                    <!-- error state goes here -->
                </mat-form-field>
            </div>
        </form>
    </div>
</section>