* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-content {
  height: 100%; width: 100%; min-height: 100vh;
}

mat-toolbar {
  padding-top: constant(safe-area-inset-top)!important;//for iOS 11.2
  padding-top: env(safe-area-inset-top)!important;//for iOS 11.1
  height: calc(constant(safe-area-inset-top) + 56px)!important;
  height: calc(env(safe-area-inset-top) + 56px)!important;
}
